<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>  
    <ion-title>Pizzas cadastradas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  

  <ion-refresher slot="fixed" (ionRefresh)="atualizarLista($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <ion-card *ngFor="let produto of produtos">
    <ion-card-header>
      <ion-card-subtitle>{{produto.category == 1 ? 'Salgada' : 'Doce'}}</ion-card-subtitle>
      <ion-card-title>{{produto.id}} - {{produto.name}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{produto.desc}}
    </ion-card-content>

    <ion-item>
      <ion-button color="primary" routerLink="/edit/{{produto.id}}">Editar</ion-button>
      <ion-button color="danger" (click)="excluir(produto)">Excluir</ion-button>
    </ion-item>
  </ion-card>

    <!-- fab placed to the (vertical) center and end -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button routerLink="/edit/">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
